name: check_code_quality

on:
  push:
    branches: [ main ]
    paths:
      - "setup.py"
      - "optimum/neuron/**.py"
      - "tests/**.py"
      - "examples/**.py"

  pull_request:
    branches: [ main ]
    paths:
      - "setup.py"
      - "optimum/neuron/**.py"
      - "tests/**.py"
      - "examples/**.py"

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v2
    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.11"
    - name: Install Neuronx runtime
      uses: ./.github/actions/install_neuronx_runtime
    - name: Prepare virtual environment
      uses: ./.github/actions/prepare_venv
    - name: Install optimum-neuron
      uses: ./.github/actions/install_optimum_neuron
    - name: Setup PATH
      run: echo "/home/ubuntu/.local/bin" >> $GITHUB_PATH
    - name: Install dependencies
      run: |
        source aws_neuron_venv_pytorch/bin/activate
        pip install --upgrade pip
        pip install .[quality]
    - name: Check style with ruff
      run: |
        source aws_neuron_venv_pytorch/bin/activate
        ruff format . --diff
        ruff check .
