name: Build PR Documentation

on:
  pull_request:
    branches: [ main ]
    paths:
      - 'docs/source/**'
      - 'docs/assets/**'
      - 'optimum/**'
      - '.github/workflows/doc-pr-build.yml'

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build_documentation:
    runs-on: ubuntu-latest
    env:
      COMMIT_SHA: ${{ github.event.pull_request.head.sha }}
      PR_NUMBER: ${{ github.event.number }}
      EVENT_CONTEXT: ${{ toJSON(github.event) }}
      PR_CLONE_URL: ${{ github.event.pull_request.head.repo.clone_url }}

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '18'
          cache-dependency-path: "kit/package-lock.json"

      - name: Setup environment
        run: |
          pip install ".[quality, diffusers]"

      - name: Make documentation
        shell: bash
        run: |
          doc-builder build optimum.neuron docs/source/ --repo_name optimum-neuron --build_dir neuron-doc-build/ --version pr_${{ env.PR_NUMBER }} --version_tag_suffix "" --html --clean

      - name: Save commit_sha & pr_number
        run: |
          cd  neuron-doc-build/
          mv optimum.neuron optimum-neuron
          echo ${{ env.COMMIT_SHA }} > ./commit_sha
          echo ${{ env.PR_NUMBER }} > ./pr_number

      - uses: actions/upload-artifact@v3
        with:
          name: doc-build-artifact
          path: neuron-doc-build/
