name: Build PR Documentation

on:
  pull_request:
    branches: [ main ]
    paths:
      - 'docs/source/**'
      - 'docs/assets/**'
      - 'notebooks/**'
      - 'optimum/**'
      - '.github/workflows/doc-pr-build.yml'

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build_documentation:
    runs-on: ubuntu-22.04
    env:
      COMMIT_SHA: ${{ github.event.pull_request.head.sha }}
      PR_NUMBER: ${{ github.event.number }}
      EVENT_CONTEXT: ${{ toJSON(github.event) }}
      PR_CLONE_URL: ${{ github.event.pull_request.head.repo.clone_url }}

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache-dependency-path: "kit/package-lock.json"
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - name: Install Neuronx runtime
        uses: ./.github/actions/install_neuronx_runtime
      - name: Setup virtual environment
        uses: ./.github/actions/setup_venv
      - name: Setup PATH
        run: echo "/home/ubuntu/.local/bin" >> $GITHUB_PATH
      - name: Setup environment
        run: |
          source aws_neuron_venv_pytorch/bin/activate
          pip install --upgrade pip
          pip install ".[quality, diffusers]"
          python -m pip install "git+https://github.com/huggingface/doc-builder.git"
      - name: Convert notebooks
        shell: bash
        run: |
          mkdir -p docs/source/inference_tutorials/
          mkdir -p docs/source/training_tutorials/
          source aws_neuron_venv_pytorch/bin/activate
          doc-builder notebook-to-mdx notebooks/text-classification/fine_tune_bert.ipynb --output_dir docs/source/training_tutorials/
          doc-builder notebook-to-mdx notebooks/sagemaker/deploy-llama-3-3-70b.ipynb --output_dir docs/source/inference_tutorials/
          doc-builder notebook-to-mdx notebooks/sagemaker/deploy-mixtral-8x7b.ipynb --output_dir docs/source/inference_tutorials/
          doc-builder notebook-to-mdx notebooks/sentence-transformers/sentence-transformers.ipynb --output_dir docs/source/inference_tutorials/
          doc-builder notebook-to-mdx notebooks/text-generation/llama2-13b-chatbot.ipynb --output_dir docs/source/inference_tutorials/
          doc-builder notebook-to-mdx notebooks/stable-diffusion/stable-diffusion-txt2img.ipynb --output_dir docs/source/inference_tutorials/
          doc-builder notebook-to-mdx notebooks/stable-diffusion/stable-diffusion-xl-txt2img.ipynb --output_dir docs/source/inference_tutorials/
          doc-builder notebook-to-mdx notebooks/text-generation/CodeLlama-7B-Compilation.ipynb --output_dir docs/source/inference_tutorials/
          doc-builder notebook-to-mdx notebooks/feature-extraction/qwen_embedding.ipynb --output_dir docs/source/inference_tutorials/
      - name: Make documentation
        shell: bash
        run: |
          source aws_neuron_venv_pytorch/bin/activate
          doc-builder build optimum.neuron docs/source/ \
            --repo_name optimum-neuron \
            --build_dir neuron-doc-build/ \
            --version pr_${{ env.PR_NUMBER }} \
            --version_tag_suffix "" \
            --html \
            --clean \
            --notebook_dir docs/notebooks/

      - name: Save commit_sha & pr_number
        run: |
          cd  neuron-doc-build/
          mv optimum.neuron optimum-neuron
          echo ${{ env.COMMIT_SHA }} > ./commit_sha
          echo ${{ env.PR_NUMBER }} > ./pr_number

      - uses: actions/upload-artifact@v4
        with:
          name: doc-build-artifact
          path: neuron-doc-build/
