name: Optimum Neuron - Common tests on Trainium

on:
  push:
    branches: [ main ]
    paths:
      - "setup.py"
      - "optimum/**.py"
      - ".github/workflows/test_trainium_common.yml"
  pull_request:
    branches: [ main ]
    paths:
      - "setup.py"
      - "optimum/**.py"
      - ".github/workflows/test_trainium_common.yml"

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  optimum-neuron-tests:
    name: Run common tests on Trainium 1
    runs-on:
      group: aws-trn1-32xlarge
    env:
      TESTS_TO_IGNORE_FLAGS: --ignore tests/training/ --ignore tests/test_examples.py
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Neuronx runtime
        uses: ./.github/actions/install_neuronx_runtime
      - name: Install cv2 dependencies
        run: |
          sudo apt-get install ffmpeg libsm6 libxext6  -y
      - name: Prepare virtual environment
        uses: ./.github/actions/prepare_venv
      - name: Install optimum-neuron
        uses: ./.github/actions/install_optimum_neuron
      - name: Collect tests on Neuron Cores
        run: |
          source aws_neuron_venv_pytorch/bin/activate
          HF_TOKEN=${{ secrets.HF_TOKEN_OPTIMUM_NEURON_CI }} USE_VENV="false" pytest -m "is_trainium_test" $TESTS_TO_IGNORE_FLAGS tests --collect-only
      - name: Run tests on Neuron cores
        run: |
          source aws_neuron_venv_pytorch/bin/activate
          HF_TOKEN=${{ secrets.HF_TOKEN_OPTIMUM_NEURON_CI }} USE_VENV="false" pytest -m "is_trainium_test" $TESTS_TO_IGNORE_FLAGS tests --durations=0 -v
      - name: Run tests that do not use Neuron cores
        run: |
          source aws_neuron_venv_pytorch/bin/activate
          pytest -m "not is_staging_test and not is_trainium_test and not is_inferentia_test" tests/training tests/test_utils.py -sv
      - name: Collect staging tests on Neuron Cores
        run: |
          source aws_neuron_venv_pytorch/bin/activate
          HUGGINGFACE_CO_STAGING=1 pytest -m "is_trainium_test and is_staging_test" $TESTS_TO_IGNORE_FLAGS tests -s --collect-only
      - name: Run staging tests on Neuron cores
        run: |
          source aws_neuron_venv_pytorch/bin/activate
          HUGGINGFACE_CO_STAGING=1 pytest -m "is_trainium_test and is_staging_test" $TESTS_TO_IGNORE_FLAGS tests -s
