name: Optimum neuron / Inf2 Sanity Check

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  test_inf2_sanity:
    name: Run INF2 Sanity Check
    runs-on:
      group: aws-inf2-8xlarge
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Neuronx runtime
        uses: ./.github/actions/install_neuronx_runtime
      - name: Setup virtual environment
        uses: ./.github/actions/setup_venv
      - name: Sanity checks
        run: |
          # Check that it is possible to install the neuronx and vllm packages
          source aws_neuron_venv_pytorch/bin/activate
          uv pip install .[neuronx,vllm]
