name: Optimum Neuron - Common tests on Trainium

on:
  push:
    branches: [ main ]
    paths:
      - "optimum/**.py"
  pull_request:
    branches: [ main ]
    paths:
      - "optimum/**.py"

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true


jobs:
  optimum-neuron-tests:
    # needs: start-runner # required to start the main job when the runner is ready
    runs-on: [self-hosted, 1-aws-trn, 8-cpu, ci] # run the job on the newly created runner
    env:
      AWS_REGION: us-east-1
      TESTS_TO_IGNORE_FLAGS: --ignore tests/distributed/ --ignore tests/test_examples.py
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      # - name: Install python3.8-venv
      #   run: sudo apt update; sudo apt install -y python3.8-venv
      - name: Set pip repository pointing to the Neuron repository
        run: pip config set global.extra-index-url https://pip.repos.neuron.amazonaws.com
      - name: Install Python dependencies
        run: pip install .[tests,neuronx]
      - name: Run tests on Neuron cores
        run: |
          HF_TOKEN_OPTIMUM_NEURON_CI=${{ secrets.HF_TOKEN_OPTIMUM_NEURON_CI }} USE_VENV="false" pytest -m "is_trainium_test" $TESTS_TO_IGNORE_FLAGS tests 
      - name: Run staging tests on Neuron cores 
        run: HUGGINGFACE_CO_STAGING=1 pytest -m "is_trainium_test and is_staging_test" $TESTS_TO_IGNORE_FLAGS test
